.submit {
    margin-top: 16px;
    width: 96px;
    text-align: center;
}

.btn-login {
  width: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
}

.input {
  width: 320px;
}
